.main-logo {
  width: 200px;
  height: auto;
}

.tp-bgimg {
  opacity: 0.5 !important;
}

.feature-box-5 {
  height: 332px !important;
}

.item {
  width: 120px !important;
  height: auto !important;
}

.owl-stage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ns-team-work-p {
  max-height: 650px !important;
}

.seccion-contactanos {
  height: 700px;
}

.section-block-parallax {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  z-index: 20;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.section-block-parallax {
  position: relative !important;
}
  
.section-block-parallax:before {
    content: ' ' !important;
    display: block !important;
    position: absolute !important;
    left: 0 !important;
    top: 0;
    width: 100% !important;
    height: 100% !important;
    opacity: 0.6 !important;
    background-image: url('https://assets.digitalocean.com/labs/images/community_bg.png') !important;
    background: rgba(0, 0, 0, 0.5) !important;
    background-repeat: no-repeat !important;
    background-position: 50% 0 !important;
    background-size: cover !important;
}
  
.container {
  position: relative;
}

.form-btn {
  cursor: pointer;
}